apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - github.com/argoproj/argo/manifests/quick-start/mysql/?ref=release-2.10
  - volumes.yaml
  - moon/ui/k8s-moonui.yaml
  - ingress.yaml
  - moon/wftmpl/nac-mos-mono.yaml
  - moon/wftmpl/nac-mos-stereo.yaml
  - moon/wftmpl/nac-mos-mono-uitest.yaml
  - moon/wftmpl/nac-mos-mono-polygon.yaml

patches:
  - argo-configmap.yaml
  - disable-internal-tls.yaml